/* Grid homepage */

#homepage_grid{
    width: 100%;
    padding: 0;
    margin: 0;

}

#homepage_grid #homepage_billboard {
    width: 100%;
    
}

#homepage_grid #homepage_billboard img{
    width: 100%;
}


#homepage_login_links{
    position: absolute;
    right: 25px;
    top: 15px;
    font-size:x-large;
}




#homepage_servicios{
    background-color: black;
    padding: 30px;
    font-family: system-ui;
}

#homepage_servicios h2{
    margin: 40px 30px 0px;
    color: white;
}

#homepage_servicios_cards{
    display: flex;
    flex-direction: row;
    height: 350px;
    
}

#homepage_servicios_cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#homepage_servicios_cards .card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    border-radius: 70% 70% 70% 30%;
}



#homepage_servicios_cards .card p{
    font-family: Aboreto;
    font-size:xx-large;
    font-weight: bolder;
    padding: 20px;
    margin: 0;
    text-align:center;

}

#homepage_general_contact_form{
    background-color: rgb(211, 211, 211) ;
}

#homepage_general{
    position: relative;
    padding: 10px;
    width: 1024px;
    margin: 0 auto 60px;
}

#homepage_general #container{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    
    
}

#homepage_general #container_form{
    width: 70%;
    background-color: rgb(233, 233, 233);
    padding: 5%;
}

#homepage_general #container_form h1{
    margin-bottom: 0;
}

#homepage_general #container_form p{
    margin-top:0;
    color: rgba(54, 54, 54, 0.781) ;
    margin-bottom: 20px;
}

#homepage_general #container_form > form{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    width: 80%;
}

#homepage_general #container_form > form > input{
    height: 35px;
    padding: 5px;
    margin-bottom: 25px;
    border: 1px solid rgb(168, 167, 167);
}

#homepage_general #container_form > form > textarea{
    height: 105px;
    padding: 5px;
    margin-bottom: 25px;
    border: 1px solid rgb(168, 167, 167);
}

#homepage_general #container_form > form > button{
    height: 45px;
    background-color: black;
    color: white;
}

#homepage_general #container_form > form > button:hover{
    background-color: orange;
    color: black;
    opacity: 0.6;
}

#homepage_general #container_black{
    width: 15%;
    background-color: black;
}



#homepage_general #container_info{
    position: absolute;
    
    right: 15px;
    width: 340px;
    height: 390px;
    top: 100px;
    z-index: 500;
    background-color: white;
    
}
#homepage_general #container_info img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

#homepage_general #container_info div{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    left: 0;
    
}

#homepage_general #container_info div p, 
#homepage_general #container_info div h1
{
    margin-bottom: 0;
    padding: 0 50px;
}

#homepage_general #container_info div#background
{
    background-color: orange;
    opacity: 0.6;
}







#pie_contenedor{
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#cuerpo{
    position: inherit;
    margin-top: 75px;
    margin-bottom: 75px;
    min-height: 200px;
    width: 1024px;
    
}

#img_container{
    position: inherit;
    height: 550px;
    overflow: hidden;
}

#img_container img{
width: 100%;
}

#tres_columnas_container{
    position: inherit;
    display: flex;
    flex-direction: row;
    color: black;
    gap: 30px;
}

#tres_columnas_container p{
    position: inherit;
    display: flex;
    flex-direction: row;
    color: black;
    gap: 30px;
    margin: 30px 0;
    text-align: justify;
    text-justify: inter-word;
    padding: 4px;
}


#titulo_img h1{
    font-weight: normal;
}


#grid_imagen{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


#grid_imagen div.card_img{
    overflow: hidden;
    height: 400px;
    width: 240px;
    position: relative;
    transition: all 1.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grid_imagen div.card_img img{
    height: 100%;
    transition: all 1.5s;
}

#grid_imagen div.card_img h2{
    position: absolute;
    bottom: 60px;
    left: 25px;
    font-weight: normal;
    word-spacing:normal;
}


#grid_imagen div.card_img:hover{
    border: 1px solid grey;
}


#grid_imagen div.card_img:hover img{
    scale: 140%;
}


#grid_imagen div.card_img:hover h2{
    bottom: 5px;
    left: 10px;
}



#pie{
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid grey;
    color: grey;
    height: 45px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 10px;
    
}

#pie div{
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-size: larger;
}

#pie div a, 
#pie div a:visited, 
#pie div a:active{  
    color: grey;
    padding-left: 10px;
    text-decoration: none;
}





/* Grid transaction search page */



#container_plants{
    width: 100%;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    grid-gap:7px
}

#container_plants .card{
    width: 290px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
}

#container_plants .card .container_image{
    width: 60%;
    height: 146px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 40px;
    z-index: 1;
}

#container_plants div.card .container_image img{
    height: 100%;
    border-radius: 40px;
    z-index: 2;
}

#container_plants .card .container_plant_details{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container_plants .card .container_plant_details div{
    padding-top: 20px;
    height: 60px;
    width: 100%;
}

#container_plants .card .container_plant_details div h3{
    text-align: center;

}

#container_plants .card .container_plant_details div p{
    text-align: center;

}

#container_plants .card .container_plant_details .plant_card_button{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px 0;
}

#container_plants .card .container_plant_details .plant_card_button a{
    display: flex;
    flex-direction: row;
}

#container_plants .card .container_plant_details .plant_card_button a img{
    height: 100%;
}






button.enlace{
    border: 0;
    background-color: transparent;
}







.main_body{
    background-color: white;
}

.main_body .container_body{
    margin: 0 auto;
    width: 1500px;
    display: flex;
    justify-content: center;
}



/* Busqueda plantas de otros */
#backoffice_container{
    margin: 30px 0 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

#backoffice_container #plant_search_form form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    grid-gap: 20px;
    padding: 20px;
}


#backoffice_container #plant_search_form form input{
    padding: 15px;
    width: 350px;
    font-size: larger;
    border-radius: 20px;
    border: 0.5px solid grey;
}

#backoffice_container #plant_search_form form div select{
    padding: 15px;
    width: 270px;
    font-size: larger;
    border-radius: 20px;
}

#backoffice_container #plant_search_form form button{
    padding: 15px;
    font-size: larger;
    border-radius: 20px;
}


.action_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    margin: 20px 0;
}

/* Login */
#form_login{
    margin: 30px;
    width: 60%;
}

#form_login form{
    display: flex;
    flex-direction: column;
}

#form_login form div{
    margin-top:10px;
}

#form_login form div.login_button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.login_input{
    display: flex;
    flex-direction: column;
}



/* detalles planta owner */
.plant_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.plant_container div.plant_container_details{
    width: 40%;
}

.plant_container div.plant_container_image{
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 100px;
}

.plant_container div.plant_container_image div img{
    height: 100%;
    width: 100%;
}

.plant_container div.plant_container_image div{
    height: 100%;
}

.plant_container_usuarios{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.plant_container_user{
    width: 60%;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}


.plant_container_image_user{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border-radius: 50px;
    margin: 40px 0;
    width: 500px;
    height: 500px;
}

.plant_container_details_user{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 40px 0 40px;
}



/* login page */
/* register page */


#form_login_plantapp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 0 200px;
}

#form_login_plantapp_page_title{
    margin-bottom: 100px;
}

#form_login_plantapp_con{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#form_login_plantapp_img{
    width: 20%;
    overflow: hidden;
}
#form_login_plantapp_img img{
    width: 100%;
}

#form_login_plantapp_form{
    width: 40%;
}

#form_login_plantapp_form form div{
    margin-bottom: 10px;
}



/* lista usuarios/roles/plantas */
.lista_acciones{
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 5px;
}

.lista_acciones a,
.lista_acciones form{
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lista_acciones form > button{
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lista_acciones a > img,
.lista_acciones form > button > img{
    width: 100%;
}


/* plant_container_transaction_steps */

.acciones_plant_transaction{
    display: flex;
    flex-direction: column ;
    justify-content: center;
}

.acciones_plant_transaction_header{
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
}

.plant_container_transaction_steps{
    display: flex;
    flex-direction: row ;
    justify-content: center;
    gap: 10px;
    height: 120px;
}

.plant_container_transaction_steps .transaction_action{
    display: flex;
    flex-direction: column ;
    justify-content: center;
    height: 80%;
    /* border: 1px dotted grey; */
    padding: 10px;
}

.plant_container_transaction_steps .transaction_action .transaction_action_header{ 
    display: flex;
    flex-direction: row ;
    justify-content: start;
    height: 30%;
}

.plant_container_transaction_steps .transaction_action .transaction_action_body{
    display: flex;
    flex-direction: row ;
    justify-content: center;
    height: 80%;
}
.plant_container_transaction_steps .transaction_action .transaction_action_body a{
    display: flex;
    flex-direction: row ;
    justify-content: start;
    height: 100%;
}

.plant_container_transaction_steps .transaction_action .transaction_action_body a img{

    height: 100%;
}